@charset "utf-8";
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
* {margin:0; padding: 0;
    box-sizing: border-box;}
#header {
    background-color:black;
    position: relative;
    height: 30px;
    color: #fff;
    font-size: 14px;
    z-index: 50;}

#header .inputbox{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 162px;
        z-index: 8009999;
        opacity: 0.3;
        background-color:#f3f4f8 ;}
/* #header .wrap .depth3 .search1 button:active #header .inputbox{
            display: block;} */

#header .inlist {
    text-align: center;
position: absolute ;
margin-left: 50px;
width: 120px;
padding-top: 6px;
padding-bottom: 5px;
background-color: #000;
}
.logo {
    text-align: center;}
.logo .logo1 { width: 180px;
display: block;
text-align: center;
} 


#header .inlist:hover {
background-color: #f3f4f8;
color: #868e96;
transition: all 0.3s;}
#header .inlist .depth1 {
    display: none;
    position: absolute;
    width: 600px ;
    padding-top: 5px;
    top: 20px;
    left: 0;
}

#header .inlist:hover .depth1  {
    display: block;
    background-color: black;
    color: #fff
    ;
}
#header .inlist .depth1>li:hover {
 background-color: #f3f4f8;
color: #868e96;
transition: all 0.3s;}
#header .inlist .depth1 >li {
    /* padding: 0 20px; */
    position: relative;
    text-align: center;
    float: left;
    width: 120px;;
    z-index: 10;}
    

#header .inlist .depth1 .depth2>li {
    background-color: black;
    color: #fff;
    text-align: center;
    }
#header .inlist .depth1 .depth2>li:hover {
    background-color: #f3f4f8;
    color: #868e96;
    transition: all 0.3s;
}
#header .inlist .depth2{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
display: none;}

#header .wrap {
    position: absolute;
    padding: 1px 50px 0 ;
    right: 0;
}
#header .inlist .depth1>li:hover .depth2{
    display: block;
}
#header .wrap ul {
    width: 320px;
    float: left;}
#header .wrap .depth3>li {
display: inline-block;
padding:  1px 8px;
text-align: center;}

#header .wrap .depth3 .search {
    color: #fff;
}

#header .wrap .depth3 input {
    width: 60px}

#header .wrap .depth3 .search1 button i {
color: #fff;}
#header .wrap .depth3 .search1 button:hover .search {
display: block;
position: absolute;
}


/* 슬라이드구역 */

#slide{
    position: relative;
    /* left: 0;
    width: 1900px ;
    height: 700px;
    display: flex;
    overflow: hidden; */
    /* height:700px; */
}
#slide .dim1 {background-image: url(/main_torres.jpg);}
#slide .dim2 {background-image: url(/tivoli_visualbg2004.jpg);}
#slide .dim3 {background-image: url(/rexton_visualbg.jpg);}
#slide .dim4 {background-image: url(/visualbg2004.jpg);}

#slide .dim>div {
    width: 1900px ;
    height: 700px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}
/* #slide ul >li{
    width: 1900px;
    height:700px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
} */




#slide .dim .dimtext h3 {
     font-size: 42px; color:#fff; 
        transform: translate3d(0, -100%, 0);
    
}
#slide .dim.slick-cloned .dimtext {
    font-size: 42px; color:#fff; 
    transform: translate3d(0, -100%, 0);
}
#slide .dim.slick-active .dimtext h3 {
    animation:fadeInDown 0.5s both 0.6s;
    
}
#slide .dim .dimtext p {
    font-size: 16px; line-height: 24px;
    font-weight: 400; margin:30px 0; 
    transform: translate3d(0, 100%, 0);
}
#slide .dim.slick-cloned .dimtext p {
    font-size: 16px; line-height: 24px;
    font-weight: 400; margin:30px 0; 
    transform: translate3d(0, 100%, 0);
    opacity:0
}
#slide .dim.dim.slick-active .dimtext p {
    animation:fadeInUp 0.5s both 0.6s;
}
#slide .dimtext a {
    padding: 10px 35px;
    border: 1px solid #fff; font-size: 15px; 
}
#slide .dimtext a:hover {
    background: rgba(255,255,255,0.3);
}
/* ddddd */
#slide .slide-group .slick-arrow {
    border:none; background:none;
    font-size:80px; color:#fff; 
    position:absolute; top:50%; 
    transform:translateY(-50%);
}
#slide .slide-group .arrleft {
    left:50px; z-index:99999;
}
#slide .slide-group .arrright {
    right:50px
}
#slide .slick-dots {
    position:absolute; bottom:50px; 
    left:50%; transform:translateX(-50%);
    text-align:center; 
}
#slide .slick-dots > li {
    display:inline-block;
    margin:0 5px; 
    width:100px; height:2px; background:#ddd;
    position:relative;
}
#slide .slick-dots > li button {
    background:#f00; border:none;
    width:0px; height:2px; 
    text-indent:-150px; overflow:hidden;
    position:absolute; top:0; left:0; 
}
#slide .slick-dots > li.slick-active button {
    animation:stretch 3s; }
@keyframes stretch {
    0% { width:0px; }
    100% { width:100px; }
}





#slide .slick-dots > li::before {
    color:#fff; 
    position:absolute; top:-25px; left:0;
    width:100%; 
}
#slide .slick-dots > li:nth-child(1)::before {
    content:'내용1'; 
}
#slide .slick-dots > li:nth-child(2)::before {
    content:'내용2'; 
}
#slide .slick-dots > li:nth-child(3)::before {
    content:'내용3'; 
}
#slide .palpa {
    position:absolute; bottom:35px;
    font-size:30px; color:#fff;
    left:50%; margin-left:170px; 
}
/* 슬라이드구역 */
.event {
margin-top: 250px;
background: #f3f4f8;
height: 440px;
overflow: hidden;
}
h2  {font-size: 2em;
    margin-bottom: 1em;
}
.event h3 {
font-size: 3em;}

.event .eventnews{
    width: 1000px ;
    height: 440px;
    padding-right: 100px;
    font-size: 18px;
    color: #05141f;
float: left;
}

.event .eventnews li{
padding-right: 20px;
float: left;
}

.event .innews {
    width: 547px ;
    height: 440px;
    float: right;
}
.event .innews ul {
    width: 100%;
    height: 380px;
}
.event .innews ul>li {
border: 1px solid #868e96;
padding: 3px;
    width: 47%;
    height: 45%;
    display: inline-flex;}

.event .innews  ul>li>a {
width: 100%;
text-align: center;}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
#service {
    height: 450px;
    margin-top: 250px;
    background: #f3f4f8;

}
#service h2 {
    padding-top: 1.5em;
text-align: center;}



#service ul>li {
width: 22.5%;
height:  310px;
display: inline-block;
text-align: center;
padding-top: 25px;}

#service ul>li>img {

    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    
}
#service ul>li>h4 {
    font-size: 1.5em;
    }

    #service ul>li>p {
    padding-top: 1.5em;}


.links {
    text-align: center;
    margin-top: 250px;
    width: 100%;
    padding-top: 60px;
    background: #f3f4f8;
    height: 450px;
}
.links h3 {margin-bottom: 100px;}
.links>a {
    width: 49%;
    height: 100px;
    text-align: center;
display: inline-block;
color: #868e96;
}

#footer {
    text-align: center;
margin-top: 75px;
background-color: #f3f4f8;
width: 100%;
height: 250px;
border: 1px solid black;}

#footer .footermenu span .vline>a {
    margin-top: 3em;
    border-left: 1px solid black;
    text-align: center;
    padding-right: 32px;
    padding-left: 32px;

}
#footer .end {
margin-top: 2em;}

/* #slide .dimset>li {
    border: 10px solid red;
    float: left;
    overflow: hidden;    } */
/* #slide  {
    position: absolute;
    left: 0;
    animation:slide 12s infinite ease-out;
;
    
}
#slide .dimset:hover {
animation-play-state:paused;}
#slide .dimset>li {
    float: left;
    width:24.9%;
    height: 330px;
}
 #nav .dimset .dim1 {
back}
#nav .dimset .dim2
#nav .dimset .dim3
#nav .dimset .dim4
@keyframes slide {
0% { left: 0;}
5% { left: -100;}
33% { left: -100;}
38% { left: -200;}
66% { left: -200;}
71% { left: -300;}
99.9% { left: -300;}
99.99% { left: 0;}
100% { left: 0;}
} */